html {
    background-color: rgb(236, 128, 223);
    font-size: 20px;
  }
  
  ul {
    background: rgb(199, 233, 114);
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 60px;
  }
  